@model Quote

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Quote</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Viewed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Viewed)
        </dd>
        
        
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @foreach (var content in Model.Content)
            {
                <p>
                    <span style="color:@content.Color">@content.Username</span>
                    @content.Text
                </p>
            }
        </dd>

        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
